@charset "utf-8";
/* CSS Document */
body{font:18px "宋体" bold;
	background:#D3C8C8;
    padding:0px;
    margin: 0px;
     clear:both 
}
#ab{
	padding-left: 20px;
	margin:0px;
	width:1344px;
	background:#4D4B4B;
   }
h1{display:inline;
   color:#FFFFFF;
   margin:0px;
   line-height: 50px;
   }
ul{float: right;}
ul li{float: left;
     margin: 0px 20px;
	height: auto;
	color: #0080ff;
   }
a{text-decoration:none;
  color: #0080ff;
  }
#axb{
	background: #313131;
	color: aliceblue;}
table td{font:1px soild "黑体"," 仿宋"," 楷体"," 隶书"," 宋体"," 微软雅黑"," 幼圆"	}
#bc{background:#FFFFFF;
    margin: 20px;
	padding: 15px;
	width: 900px; 
    }
#cd{background:#FFFFFF;
    margin: 20px;
	padding: 15px;
	width: 900px;
    }
#de{
    position: absolute;
	top: 50px;
	left: 950px;
	line-height: 1.5em;
	background:#fff;
    margin: 20px;
	padding: 15px;
    width: 334px;
    }
p{text-indent:2em;}
span{font-weight: bold;}
table td{width: auto}
table tr{height: 10px;}
#name{font-size: 10px;}
label{font:bold 15px "黑体";}
#sumbit{background:#0080ff;
        font: 13px "微软雅黑";
	    letter-spacing: 0.4em;
	    width: 200px;
	    height: 35px;
	    border:none;
	    border-radius:13px;
	    margin-top: 15px;
	    margin-left: 65px;
      }  